
.header {
    background-color:#F4F4F4;
    border-radius: 1px;
    padding: 32.5px 59px;
    .container {
        max-width: 70%;
    }

    text{
        font-size: 28px;
        line-height: 40px;
        color: #2D2D2D;
    }
}